.box {
    width: 420px;
    height: 150px;
    background: green;
}

.heading{
    display: flex;
    justify-content: center;
    padding-top: 10px;
    background: violet;
    font-weight: 900;
    font-size: 20px;
}

.box1{
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

.box1 .title{
    margin-right: 20px;
}

.box1 .div{
    font-size: 20px;
    font-weight: 900;
    margin: 0 5px;
}

.box1 input{
    width: 80px;
}

#btn{
   margin: 10px 0 0 162px;
   width: 193px;
}

#kq{
    width: 290px;
    height: 20px;
    background: yellowgreen;
    margin: 0 auto 0;
    margin-top: 10px;
    text-align: center;
}